<template>
  <div>
    <Head>
      <Title>Learn Nuxt 3 with Pinia | {{ product.title }}</Title>
      <Meta name="description" :content="product.description" />
    </Head>
    <ProductDetail :product="product" />
  </div>
</template>

<script setup>
const { id } = useRoute().params;
const url = `https://fakestoreapi.com/products/${id}`;
definePageMeta({
  layout: "products",
});

//Fetch the product
const { data: product } = await useFetch(url, { key: id });

if (!product.value) {
  throw createError({ statusCode: 404, statusMessage: "Product not found", fatal: true });
}
</script>

<style scoped>
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>
