<template>
  <div>
    <div class="grid grid-cols-4 gap-5">
      <div v-for="(product, index) in products" :key="index">
        <ProductCard :product="product" />
      </div>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: "products",
});

//Fetch the Products
const { data: products } = await useFetch("https://fakestoreapi.com/products");

useHead({
  title: "Learn Nuxt 3 with Pinia | Product",
  meta: [{ name: "description", content: "Everything about nuxt 3 and pinia | Product" }],
});
</script>

<style scoped>
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>
