<template>
  <div>
    <header class="shadow-sm bg-white">
      <nav class="container mx-auto p-4 flex justify-between">
        <NuxtLink to="/" class="font-bold">Nuxt Dojo</NuxtLink>
        <ul class="flex gap-4">
          <li>
            <NuxtLink to="/">Home</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/about">About</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products" class="btn">Products</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/cart">
              <span class="material-icons text-base">shopping_cart</span>
            </NuxtLink>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Output the page contents -->
    <div class="container mx-auto p-4">
      <slot />
    </div>
  </div>
</template>

<script setup>
import { useCartStore } from "@/stores/cartStore";
const cartStore = useCartStore();
cartStore.getCart();
</script>

<style scoped>
.router-link-exact-active {
  color: #00fbb8;
}
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>
