<template>
  <div>
    <div v-show="!isFetching">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim temporibus quibusdam quo magni assumenda dolore a delectus ex nulla quod tenetur, saepe accusamus numquam voluptates ducimus.
        Rerum laborum ad quisquam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quae magnam ex maiores repellendus sequi quo temporibus corporis itaque, magni modi ipsa, qui est autem eius, tenetur
        possimus atque debitis!
      </p>
      <div>{{ data?.data }}</div>
    </div>
  </div>
</template>

<script setup>
// const { data } = await useFetch("/api/ninja");
const isFetching = ref(true);
const data = ref(null);
onMounted(async () => {
  isFetching.value = true;
  data.value = await useFetch("/api/currency/IDR");
  isFetching.value = false;
});
</script>

<style scoped>
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>
