<template>
  <div>
    <h2 class="text-slate-800 text-2xl text-center my-8 font-bold">Your Basket</h2>

    <div class="card text-xl" v-if="cartStore.cart.length">
      <!-- product list -->
      <div v-for="product in cartStore.cart" class="flex gap-8 items-center">
        <img :src="product.image" :alt="product.title" class="thumb p-5" />
        <p class="text-slate-800">{{ product.title }}</p>
        <ProductQuantity :product="product" />
        <p class="text-slate-800">{{ product.price * product.quantity }} coins</p>

        <!-- delete -->
        <button class="ml-auto" @click="cartStore.deleteFromCart(product)">
          <span class="material-icons-outlined text-white">delete</span>
        </button>
      </div>

      <!-- cart total -->
      <div class="text-right pt-4 mt-4 border-t-2">
        <span class="text-white">Total amount to pay: </span>
        <span class="text-secondary">{{ cartStore.cartTotal }} Silver Coins</span>
      </div>
    </div>

    <div class="card text-xl" v-else>
      <p class="text-slate-700">There are no items in your basket.</p>
    </div>
  </div>
</template>

<script setup>
import { useCartStore } from "@/stores/cartStore";
import { storeToRefs } from "pinia";
const cartStore = useCartStore();
</script>

<style scoped>
.thumb {
  height: 150px;
  max-width: 70%;
}
</style>
